.grid {
  letter-spacing: -0.31em;
  *letter-spacing: normal;
  word-spacing: -0.43em;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
  margin: 0;
}
.grid .g-u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */

  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  _vertical-align: text-bottom;
}
.grid .g-u input {
  *vertical-align: middle;
}
.file-input-wrapper {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  overflow: hidden;
  filter: ms:alpha(opacity = @o);
  opacity: 0;
}
.file-input-wrapper .file-input {
  display: block;
  height: 500px;
  width: 220px;
  cursor: pointer;
  font-size: 100px;
  margin-top: -50px;
  position: absolute;
  left: 0;
  top: -200px;
  filter: ms:alpha(opacity = @o);
  opacity: 0;
  z-index: 14;
}
.ks-progress-bar {
  height: 8px;
  width: 90px;
  background: #b2b2b2;
  border-radius: 5px;
  display: block;
  overflow: hidden;
}
.ks-progress-bar .ks-progress-bar-value {
  width: 0%;
  height: 8px;
  background: #db0869;
  display: block;
}
.imageUploader-button {
  display: block;
  width: 74px;
  height: 25px;
  margin-right: 6px;
  background: url("http://img02.taobaocdn.com/tps/i2/T1FsaDXalQXXXXXXXX-280-535.png") no-repeat scroll 0 -40px transparent;
  overflow: hidden;
  text-indent: -9999px;
  position: relative;
}
.imageUploader-button .file-input-wrapper {
  width: 74px;
  height: 25px;
}
.imageUploader-button:hover {
  background-position: -80px -40px;
}
.upload-count-wrapper {
  margin-top: 4px;
  color: #ccc;
}
.upload-count-wrapper em {
  color: #999999;
  font-style: normal;
}
.imageUploader-queue {
  margin: 0;
  margin-top: 10px;
}
.imageUploader-queue li {
  border: solid 1px #e0e0e0;
  background: #fff;
  margin: 0 10px 10px 0;
  width: 120px;
  height: 120px;
  position: relative;
  background-color: #fff;
}
.imageUploader-queue li.clear {
  clear: both;
  height: 0px;
  width: 0px;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px;
}
.imageUploader-queue li .wrapper {
  position: relative;
  z-index: 10;
}
.imageUploader-queue li .pic-mask {
  width: 120px;
  height: 120px;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0.7;
  background: #fff;
  filter: ms:alpha(opacity = 70);
}
.imageUploader-queue li .del-pic {
  background-position: -257px -101px;
  color: #676767;
  display: none;
  height: 24px;
  left: 31px;
  padding-top: 4px;
  position: absolute;
  text-decoration: none;
  text-indent: 18px;
  top: 50px;
  width: 60px;
  z-index: 11;
}
.imageUploader-queue li a img {
  max-width: 120px;
  max-height: 120px;
}
.imageUploader-queue .tb-pic120 {
  *overflow: hidden;
  display: table;
  text-align: center;
  table-layout: fixed;
}
.imageUploader-queue .tb-pic120 img {
  display: none;
  border: none;
  vertical-align: middle;
}
.imageUploader-queue .tb-pic120 a {
  width: 120px;
  height: 120px;
  display: table-cell;
  /*非IE、IE8、IE9的主流浏览器识别的垂直居中的方法*/

  vertical-align: middle;
  /*text-align: center;*/

  *display: block;
  *font-family: Arial;
  /*防止非utf-8引起的hack失效问题，如gbk编码*/

  *line-height: 1;
  /* 避免行高导致垂直居中有误 */

  *font-size: 105px;
}
.imageUploader-queue .drop-wrapper {
  cursor: pointer;
}
.imageUploader-queue .ks-progress-bar {
  height: 12px;
  width: 90px;
  margin: 6px 0 0 10px;
}
.imageUploader-queue .ks-progress-bar .ks-progress-bar-value {
  background: #db0869;
}
.imageUploader-queue .ks-progress-bar .status-wrapper .status {
  text-align: center;
}
