<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Gallery - {{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
    <meta name="keywords" content="{% if page.tags %}{% for tag in page.tags %}{{ tag }}, {% endfor %}{% endif %}{{ site.keywords }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/pygments/default.css" />
    <link rel="stylesheet" href="{{ ASSET_PATH }}/css/docs.css" />
    <!-- <link rel="shortcut icon" href="images/favicon.ico"> -->

</head>

<body data-spy="scroll" data-target=".bs-docs-sidebar">
    <div class="color-line"><i class="one"></i><i class="two"></i><i class="three"></i></div>

    <!-- container begin -->
    <div class="container-fluid">
        {{ content }}
    </div>
    <!-- container end -->
    
    {% include JB/analytics %}
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ ASSET_PATH }}/js/docs.js"></script>
</body>
</html>