<div class="row-fluid">
    <div class="span3 bs-docs-sidebar">
        <h1>{{ site.nav }}</h1>
        <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="0"></ul>
        <a href="javascript:void(0);" class="nav-toggle J_Toggle"></a>
    </div>
    <div class="bs-docs-sidebar-mini">
        <a href="javascript:void(0);" class="nav-toggle J_Toggle"></a>
    </div>
    <div class="span9 bs-docs-content">
        <h1>{{ page.title }}</h1>
        <hr class="title-hr" />

        <!-- content begin -->
        {{ content }}
        <!-- content end -->

    </div>
</div>